---
import { t } from '../i18n/i18n';

interface Props {
    key: string;
    locale: string;
    class?: string;
    mainClass?: string;
    name?: string;
    dynamicText?: string;
}

const { key: translationKey, locale, class: className, name, dynamicText, mainClass } = Astro.props;

const translation = t(translationKey, locale);
const result = name && dynamicText 
    ? translation.replace(`[${name}]`, `<span class="${className}">${dynamicText}</span>`)
    : translation.replace(/<span>/g, `<span class="${className}">`);
---

<div class:list={[mainClass]} set:html={result} /> 